@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body.printing-receipt * { visibility: hidden !important; }
  body.printing-receipt .receipt-print, body.printing-receipt .receipt-print * { visibility: visible !important; }
  body.printing-receipt .receipt-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm;
    border: 0 !important;
    background: white !important;
    color: black !important;
    box-shadow: none !important;
  }
}
